@model WonderlandBooks.Web.ViewModels.Home.CountViewModel
@using WonderlandBooks.Common
@{
    this.ViewData["Title"] = "Welcome";
}

<section class="hero-wrap js-fullheight">
    <div class="overlay"></div>
    <div class="container-fluid px-0">
        <div class="row d-md-flex no-gutters slider-text align-items-center js-fullheight justify-content-end">
            <img class="one-third js-fullheight align-self-end order-md-last img-fluid" src="~/img/undraw_book_lover_mkck.svg">
            <div class="one-forth d-flex align-items-center ftco-animate js-fullheight">
                <div class="text mt-5">
                    <span class="subheading">Best Book Library</span>
                    <h1>Hello, dear readers and lovers of fantasy worlds!</h1>
                    <p>I want to introduce you to our world of magic and sorcery. Come and find out some of the most exciting stories and works by famous authors. If you want to be a part of our story... </p>
                    <p><a class="btn btn-primary py-3 px-4" asp-controller="Home" asp-action="Welcome">Join our adventures.</a></p>
                </div>
            </div>
        </div>
    </div>
</section>


