@using WonderlandBooks.Common
@{
    this.ViewData["Title"] = "Welcome";
}

<div class="jumbotron">
    <h1 class="display-4">Hello, dear readers and lovers of fantasy worlds!</h1>
    <p class="lead">I want to introduce you to our world of magic and sorcery. Come and find out some of the most exciting stories and works by famous authors.</p>
    <hr class="my-4">
    <p>If you want to be a part of our story, join our adventures.</p>
    <a class="btn btn-primary btn-lg" role="button" asp-controller="Home" asp-action="Welcome">Learn more</a>
</div>