@model WonderlandBooks.Web.ViewModels.CreativeWriting.CreateStoryInputModel
<form method="post" class="col-md-6 offset-md-3" enctype="multipart/form-data" >
    <div class="form-group">
        <label asp-for="Image"></label>
        <input class="form-control" asp-for="Image" />
        <!--  <span asp-validation-for="Image" class="text-danger"></span> //ако няма корица default image трябва да се сложи  -->
    </div>
    <div class="form-group">
        <label asp-for="Title"></label>
        <input class="form-control" asp-for="Title" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control" rows="5"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-select">
        <label asp-for="GenreId"></label>
        <select class="custom-select" asp-for="GenreId" asp-items="@ViewBag.Genres">
            <option value="0">Select</option>
        </select>
        <span asp-validation-for="GenreId" class="text-danger"></span>
    </div>
    <div class="form-select">
        <label asp-for="EditionLanguageId"></label>
        <select class="custom-select" asp-for="EditionLanguageId" asp-items="@ViewBag.Language">
            <option value="0">Select</option>
        </select>
        <span asp-validation-for="EditionLanguageId" class="text-danger"></span>
    </div>
    &nbsp;
    <div>
        <input type="submit" class="btn btn-outline-primary mr-2" />

    </div>
    <!-- <div id="addCharacter">
         <label asp-for="Characters"></label>
         <input type="text" class="form-control" asp-for="Characters" />
         <button class="btn btn-light" id="character" onclick="AddCharacter()">Add more names</button>
     </div>
     &nbsp;
     <div id="addTag">
         <label asp-for="Tags"></label>
         <input type="text" class="form-control" id="inputTags" asp-for="Tags" />
         <button class="btn btn-light" id="tags" onclick="AddTag()">Add tag</button>
     </div>
     &nbsp;-->
</form>



@section Scripts {
    <script type="text/javascript">
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#imagePreview').css('background-image', 'url(' + e.target.result + ')');
                    $('#imagePreview').hide();
                    $('#imagePreview').fadeIn(650);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#imageUpload").change(function () {
            readURL(this);
        });
    </script>

    <script>

       // let allTags = [];
       // let button = document.getElementById('tags');
       // button.addEventListener('click', addMoreInputs);
       // console.log(button);
       // function addMoreInputs(e) {
       //     let parentDiv = document.getElementById('addTag');
       //     let inputText = document.getElementById('inputTags');
       //
       //     let inputElement = document.createElement('input');
       //     let buttonElementClear = document.createElement('button');
       //     buttonElementClear.textContent = '-';
       //     buttonElementClear.id = 'clearButton'
       //     //тук може цвят да сложиш 
       //     inputElement.appendChild(buttonElementClear);
       //     parentDiv.appendChild(inputElement);
       //
       //     allTags.push(inputText.value);
       // }



        $(document).ready(function AddCharacter() {
            var $fields = $('#addCharacter');
            $('#btnAddField').click(function (e) {
                e.preventDefault();
                $('<input type="text" class="form-control" name="Characters" /><br/>').appendTo($fields);
            });
        });

    </script>
    <script type="text/javascript">

        $(document).ready(function AddTag() {
            var $fields = $('#addTag');
            $('#btnAddSecondField').click(function (e) {
                e.preventDefault();
                $('<input type="text" class="form-control" name="Tags" /><br/>').appendTo($fields);
            });
        });

    </script>
}

@section Styles {
    <link href="~/custom/image.css" rel="stylesheet" />
}
