@model WonderlandBooks.Web.ViewModels.Posts.GenreListViewModel
@{
    this.ViewData["Title"] = "Topics";
}
<div class="row">
    @foreach (var genre in Model.Genres)
    {
    
        <div class="card w-25 text-center">
            <div class="card-body">
                <h3 class="card-title">@genre.Name</h3>
                <a class="btn btn-dark "asp-controller="Posts" asp-action="Post"asp-route-id="@genre.Id"> See more</a>
            </div>
        </div>   
    }
</div>