@using WonderlandBooks.Common
@using WonderlandBooks.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (this.SignInManager.IsSignedIn(this.User))
{
    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
        <span>Hello @this.User.Identity.Name!</span>
    </a>
    <a class="dropdown-item" asp-controller="Books" asp-action="Library">Library</a>
    <a class="dropdown-item" asp-controller="Genres" asp-action="GenreList">Discussions</a>
    <a class="dropdown-item" asp-controller="CreativeWriting" asp-action="CreateStory">Writing</a>
    <a class="dropdown-item" asp-controller="CreativeWriting" asp-action="StoriesByUser">Your Stories</a>
    if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
    {
        <a class="dropdown-item" asp-area="Administration" asp-controller="Dashboard" asp-action="Index" title="Admin">
            <span>Admin</span>
        </a>
    }

    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@this.Url.Action("Index", "Home", new { area = string.Empty })">
        <button type="submit" class="nav-link btn btn-link text-dark">
            <span>Logout</span>
        </button>
    </form>

}
else
{

    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Register">
        <span>Register</span>
    </a>


    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Login">
        <span>Login</span>
    </a>

}

