@model WonderlandBooks.Web.ViewModels.Post.PostCreateInputModel
@{
    this.ViewData["Title"] = "Create Post";
}


<script src="/lib/tinymce/tinymce.min.js" type="text/javascript"></script>
<script type="text/javascript">
    tinymce.init({
        selector: "textarea",
        relative_urls: false,
        remove_script_host : false,
        convert_urls : true,
        plugins: [
            "image paste table link code media fullscreen wordcount searchreplace lists"
        ]
    });
</script>
<form method="post" class="col-md-6 offset-md-3">

    <div class="form-group">
        <label asp-for="Title"></label>
        <input class="form-control" asp-for="Title" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Content"></label>
        <textarea asp-for="Content" class="form-control" rows="10"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    <div class="form-select">
        <label asp-for="GenreId"></label>
        <select class="custom-select" asp-for="GenreId" asp-items="@ViewBag.Genres">
            <option value="0">Select</option>
        </select>
        <span asp-validation-for="GenreId" class="text-danger"></span>
    </div>
    &nbsp;
    <div>
        <input type="submit" class="btn btn-outline-primary mr-2" value="submit" />
    </div>
</form>