@model WonderlandBooks.Web.ViewModels.Authors.TopTenAuthorsViewModel

@foreach (var author in Model.Authors)
{
    <div class="card" style="width: 18rem;">
        <img src=@author.ImageUrl class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">@author.Name</h5>
            <p class="card-text">@author.Website</p>
            <p class="card-text">@author.Biography</p>
            <p class="card-text">@author.Books</p>
        </div>
    </div>
}
